{% extends 'blog/base.html' %}
{#Title#}
{% block title %}
    Blogs
{% endblock %}

{#start left bar #}
{% block leftbar %}
    {% include 'blog/leftbar.html' %}
{% endblock %}
{#end left bar#}

{#start right bar#}
{% block categories %}
    {% include 'blog/rightbar.html' %}
{% endblock %}
{# end right bar #}

{# start blog content#}
{% block content %}
    {# start container #}
    <div class="mt-4">
        {# Start Results, Years, Months, Blogs #}
        <h5 class="text-end z-2 fluid">
            <div class="d-flex p-2 justify-content-between text-dark">
                <!-- Shower Blog Results -->
                <h3>{{ count.blog }} Blogs </h3>
                <!-- /Shower Blog Results -->
            </div>
        </h5>
        {# End Results, Years, Months, Blogs #}
        {# start accordion #}
        {% for year, blogs in grouped_blogs_year.items %}
            <div class="accordion" id="accordionExample">
                <h5 class="z-2 px-2 text-end fw-bold mt-3 fw-lighter sticky-top fluid"
                    style="top:85px;"><i class="fa-solid fa-calendar-days"></i> {{ year }}</h5>
                {% for month, blogs in grouped_blogs_month.items %}
                    <h5 class="z-2 px-2 fw-bold mt-3 fw-lighter fluid">{{ month }}</h5>
                    {% for blog in blogs %}
                        <div class="z-1 m-2 accordion accordion-flush border border-1 rounded"
                             id="accordionFlushExample">
                            <h2 class="accordion-header">
                                <button class="z-0 accordion-button collapsed rounded" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse{{ blog.id }}"
                                        aria-expanded="false" aria-controls="flush-collapse{{ blog.id }}">
                                    <img class="profile_img border border-1 d-none  d-sm-none d-md-none d-lg-inline"
                                         src="{{ blog.image.url }}" alt="rasm{{ blog.id }}">
                                    <div class="blog-header">
                                        <div>
                                            <b class="fw-medium">{{ blog.title | truncatewords:8 }}</b>
                                            <br class="mt-1">
                                            {# start blog Categories #}
                                            {% for category in blog.category.all %}
                                                <a class="badge text-bg-light fw-normal"
                                                   href="{% url 'category_tag' category.name %}">#{{ category.name }}</a>
                                            {% endfor %}
                                            {# end blog Categories #}
                                        </div>
                                        <code class="text-body-secondary d-none  d-sm-none d-md-inline d-lg-inline">{{ blog.created | timesince }}
                                            ago</code>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapse{{ blog.id }}" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body fw-lighter">
                                    <strong>{{ blog.title }}.</strong> {{ blog.body }}
                                    <p class="text-end">{{ blog.body | wordcount }} words</p>

                                    <div class="d-flex justify-content-between">
                                        {# Icons #}
                                        <p>
                                            {# Star Icon #}
                                            <button type="button" class="btn btn-light position-relative"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="like">
                                                {# star start#}
                                                <i class="bi bi-star"></i>
                                                {# star end #}
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark"> 0
                                                    <span class="visually-hidden">unread messages</span>
                                                </span>
                                            </button>
                                        </p>
                                        {# Watch #}
                                        <p class="text-end">
                                            <code class="text-dark">{{ blog.created }}</code>
                                        </p>
                                    </div>
                                    <div class="fw-bold">Write a Comment</div>
                                    {# Comments start #}
                                    <form method="post" action="{% url 'add_comment_to_post' blog.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_pk" value="{{ blog.pk }}">
                                        <div class="form-floating mt-2">
                                            {{ form.author }}
                                            <label>Name</label>
                                        </div>
                                        <div class="form-floating mt-2">
                                            {{ form.message }}
                                            <label>Message</label>
                                        </div>
                                        <button class="btn btn-dark mt-2" type="submit">Add Comment</button>
                                    </form>
                                    {# Comments end #}
                                    <div class="d-flex justify-content-start py-3 border-bottom">
                                        <p>
                                            {# Chat Icon #}
                                            <button type="button" class="btn btn-light position-relative"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="message">
                                                {# Inbox start#}
                                                <i class="bi bi-chat-text"></i>
                                                {# Inbox end #}
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark">{{ blog.comments.all.count }}
                                                    <span class="visually-hidden">unread messages</span>
                                                </span>
                                            </button>
                                        </p>
                                        <!-- Comments -->
                                        <b class="d-flex align-items-center px-2 fw-bold">Comments</b>
                                        <!-- /Comments -->
                                    </div>
                                    {# All Comments start #}
                                    {% if blog.comments.all %}
                                        {# Comments end #}
                                        <div style="height: 200px; position: relative; overflow-y: scroll;"
                                             data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                                             class="scrollspy-example my-3 box-shadow text-white"
                                             tabindex="0">
                                            {# All Comments start #}
                                            {% for comment in blog.comments.all|slice:"::-1" %}
                                                <div class="card my-3">
                                                    <div class="card-header">
                                                        <i class="bi bi-person-fill"></i> <b>{{ comment.author }}</b>
                                                    </div>
                                                    <div class="card-body">
                                                        <small>
                                                            {{ comment.message }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {# All Comments end #}
                                        </div>
                                    {% endif %}
                                    {# All Comments end #}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {# end accordion #}
        {% endfor %}
    </div>
    {# end container #}

{% endblock %}
{# end blog content #}