{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    {# Bootstrap CSS #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {# Link CSS #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

    {# fontawesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

{#navbar start#}
<nav class="navbar navbar-expand-lg bg-primary-subtle sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mars Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu z-3">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{#navbar end#}

{#container start#}
<div class="container mt-5 w-50">
    {#accordion start#}
    <div class="accordion" id="accordionExample">
        {% for year, blogs in grouped_blogs_year.items %}
            <h5 class="z-2 mt-5 text-primary sticky-top bg-white fluid" style="top:56px;">| <i
                    class="fa-solid fa-calendar-days"></i> {{ year }}</h5>
            {% for month, blogs in grouped_blogs_month.items %}
                <h5 class="z-2 mt-5 text-primary sticky-top bg-white fluid" style="top:80px;">| <i
                        class="fa-solid fa-calendar-days"></i> {{ month }}</h5>
                    {% for blog in blogs %}
                        <div class="z-1 accordion-item border border-1">
                            <h2 class="accordion-header">
                                <button class="z-0 accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ blog.id }}"
                                        aria-expanded="true" aria-controls="collapse{{ blog.id }}">
                                    <img class="profile_img border border-1"
                                         style="background-image: url({{ blog.image.url }})">
                                    <div class="blog-header">
                                        <b>{{ blog.title | truncatewords:8 }}</b>
                                        <code class="text-primary">{{ blog.created | timesince }} ago</code>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapse{{ blog.id }}" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>{{ blog.title }}.</strong> {{ blog.body }}
                                    <p><code>{{ blog.created }}</code></p>
                                    <p>{{ blog.body | wordcount }} words</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            {% endfor %}
        {% endfor %}

    </div>
    {#accordion end#}
</div>
{#container end#}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>