<div class="container mt-1 sticky-top" style="top: 90px;">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <div>
                    <h3>Obuna Bo'ling</h3>
                    Yangi maqola, maruza va darslarimni
                    <a href="https://t.me/asadbek_solijonov_blog" class="link-dark rounded text-primary">@asadbek_solijonov</a>
                    telegram kanalimda topishingiz mumkin.
                </div>
            </li>
        </ul>
    </div>
</div>