<div class="mt-1 mb-3 sticky-top z-2" style="max-width: 18rem; top: 100px;">
    <div class="card-body text-dark">
        {# <h5 class="fw-light">Dark card title</h5> #}
        {# Start Search #}
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="Filter tags..." aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>
        {# End Search #}
        <hr>
        <p class="card-text">
            {% if categories %}
                {% for category in categories %}
                    <b class="badge text-bg-light fw-normal">
                        <a href="{% url 'category_tag' category.name %}">#{{ category.name }}</a> </b>
                {% endfor %}
            {% else %}
                <span class="badge text-bg-light">Kategoriya mavjud emas</span>
            {% endif %}
        </p>
    </div>
</div>