{#navbar start#}
<nav class="navbar  navbar-expand-lg bg-white sticky-top shadow-sm p-3 bg-body-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mars Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <div style="padding-right: 100px" class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle ms-auto" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {#  Hello, {{ user.username|default:'Guest' }}#}
                    {{ user.username|default:'Guest' }}
                </a>
                <!-- Login -->
                <ul class="dropdown-menu z-3">
                    {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" style="border: none; background-color: transparent;" type="submit">Logout
                                </button>
                            </form>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Password Change</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_reset' %}">Password Reset</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
                <!-- /Login -->
            </div>

        </div>
    </div>
</nav>
{#navbar end#}
